.list-product {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin: 30px 0 auto;
}

.product-block{
	height: 100%;
	/*border: 1px solid green;*/
	border-radius: 5px;
	margin-bottom: 10px; 
}

.product-block:hover{
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
}

.product-block .intro{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	text-align: center;
	text-transform: uppercase;
}

.product-block h2{
	font-size: 28px;
	margin: 0 0 15px;
}

.product-image{
	padding: 5px;
	max-width: 100%;
}





.product-detail{
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	padding-right: 5px;
}

.pro-name{
	font-size: 15px;
	text-transform: uppercase;
}


.pro-price{
	font-size: 13px;
	font-weight: 700;
}

.category{
	position: relative;
	margin-top: 30px;
	width: 100%;
	background-color: #292929;
	/*border: 2px solid green;*/
	z-index: 10;
}

.category img{
	max-width: 100%;
}	

.category img:hover{
	opacity: 0.4;
	background-color: gray;
}

.category-name{
	text-transform: uppercase;
	font-size: 24px;
	color: white;
	position: absolute;
	left: 25px;
	bottom: 30px;
	z-index: 20;
}